$border: 1px solid rgba(0, 0, 0, 0.386);


.main-body {
  display: grid;
  justify-content: center;
  grid-template-columns: 70%;

  .head {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .advert {
    display: flex;

    .advert-number {
      border: $border;
      width: 8.75rem;
      line-height: 0.188rem;
      padding-left: 0.375rem;
      margin-right: 0.625rem;
      border-radius: 0.313rem;
    }

    .advert-type {
      @extend .advert-number;
    }
  }
  .advert-time {
    border-top: $border;
    border-bottom: $border;
    line-height: 1.875rem;
    font-size: 0.875rem;
  }

  .bottom-tags {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
  }
}

@media only screen and (max-width: 768px) {
  .advert-number {
    font-size: 0.875rem;
  }
}
